In [16]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

dataset = [ 
  ['M', 'O', 'N', 'K', 'E', 'Y'], 
  ['D', 'O', 'N', 'K', 'E', 'Y'],
  ['M', 'A', 'K', 'E'], 
  ['M', 'U', 'C', 'K', 'Y'], 
  ['C', 'O', 'O', 'K', 'I', 'E'] 
]

encode = TransactionEncoder()
encoded_array = encode.fit(dataset).transform(dataset)

dataframe = pd.DataFrame(encoded_array, columns=encode.columns_)
frequent_itemsets = apriori(dataframe, min_support=0.5, use_colnames=True)
frequent_itemsets

    support   itemsets
0       0.8        (E)
1       1.0        (K)
2       0.6        (M)
3       0.6        (O)
4       0.6        (Y)
5       0.8     (K, E)
6       0.6     (O, E)
7       0.6     (K, M)
8       0.6     (K, O)
9       0.6     (K, Y)
10      0.6  (K, O, E)

In [18]:
pattern_rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
pattern_rules

   antecedents consequents  antecedent support  ...  lift  leverage  conviction
0          (K)         (E)                 1.0  ...  1.00      0.00         1.0
1          (E)         (K)                 0.8  ...  1.00      0.00         inf
2          (O)         (E)                 0.6  ...  1.25      0.12         inf
3          (E)         (O)                 0.8  ...  1.25      0.12         1.6
4          (M)         (K)                 0.6  ...  1.00      0.00         inf
5          (O)         (K)                 0.6  ...  1.00      0.00         inf
6          (Y)         (K)                 0.6  ...  1.00      0.00         inf
7       (K, O)         (E)                 0.6  ...  1.25      0.12         inf
8       (K, E)         (O)                 0.8  ...  1.25      0.12         1.6
9       (O, E)         (K)                 0.6  ...  1.00      0.00         inf
10         (O)      (K, E)                 0.6  ...  1.25      0.12         inf
11         (E)      (K, O)                 0.8  ...  1.25      0.12         1.6

[12 rows x 9 columns]